* {
    margin: 0;
}

html {
    font-size: min(1vw, 0.5625vh);
}

body {
    background-color: #0f1116;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* disables scrolling */
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#hero {
    position: relative;
    background-color: #300;
    margin: 0;
    aspect-ratio: 9 / 16;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links {
    width: 80rem;
    text-align: left;

    font-size: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 4rem;
    margin: 2rem 0rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    padding: 2rem;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    width: 100rem;
    /* max-width: 240rem; */
}

@keyframes shake {
    0% { transform: translate(.2rem, .2rem) rotate(0deg); }
    10% { transform: translate(-.2rem, -.4rem) rotate(-1deg); }
    20% { transform: translate(-.6rem, 0rem) rotate(1deg); }
    30% { transform: translate(.6rem, .4rem) rotate(0deg); }
    40% { transform: translate(.2rem, -.2rem) rotate(1deg); }
    50% { transform: translate(-.2rem, .4rem) rotate(-1deg); }
    60% { transform: translate(-.6rem, .2rem) rotate(0deg); }
    70% { transform: translate(.6rem, .2rem) rotate(-1deg); }
    80% { transform: translate(-.2rem, -.2rem) rotate(1deg); }
    90% { transform: translate(.2rem, .4rem) rotate(0deg); }
    100% { transform: translate(.2rem, -.4rem) rotate(-1deg); }
}